@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: "Barlow", sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

#box-navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
}

nav{
    width: 85vw;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title-navbar #titulo-site{
    color: black;
    font-size: 25px;
    margin-left: 30px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    list-style-type: none;
    font-size: 20px;
    height: 100%;
    align-items: center;
}

li {
    height: 100%;
    display: flex;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px; 
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

li a:hover{
    background-color: rgb(152, 54, 202);
    padding: 0 40px;
    transition: 0.5s;
    cursor: pointer;
}

a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover,
a:active{
    color: black;
}

.box-group-limit{
    position: static;
    z-index: 0;
    width: 100vw;
    height: auto;
}

#box-group-one{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9836ca;
    overflow: hidden;
}

#group-one{
    position: relative;
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#news{
    width: auto;
    height: 65%;
    border: 10px solid black;
    border-radius: 15px;
    background-color: black;
    box-shadow: 0px 0px 10px 3px rgb(60, 60, 60);
    transform: scale(1.1);
}

iframe{
    border-radius: 15px;
}

#text-news{
    width: 40%;
}

#iframe-link{
    margin-top: 3%;
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0px;
}

#group-channel{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

#icon #link-channel{
    height: 100%;
    display: flex;
    align-items: center;
}

#icon-name{
    font-size: 15px;
}

#icon-name a{
    width: 0px;
}

#group-channel #desc-channel{
    margin-top: 1%;
}

#icon-name h1,
#name-channel{
    color: white;
}

#name-channel{
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

#name-channel #link-channel{
    width: auto;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    font-weight: normal;
}

#name-channel p{
    margin-right: 7px;
}

#icon-img{
    width: 100px;
    border: solid black 2px;
    border-radius: 100%;
    margin-right: 15px;
}

#inscritos,
#videos,
#color-gray{
    color: rgb(159, 159, 159);
}

#text-news{
    height: 70%;
    background-color: rgb(121, 40, 161);
    box-shadow: 0px 0px 10px 5px rgb(121, 40, 161);
    position: relative;
    box-sizing: border-box;
    border-radius: 15px;
}

#text-news-two{
    width: 40%;
}

.title-text{
    font-size: 18px;
    margin: 15px;
    margin-top: 25px;
    color: white;
    margin-bottom: 25px;
}

.text{
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    font-size: 22px;
}

.text p{
    text-indent: 30px;
    color: white;
    font-weight: bold;
}

.color h1,
.color p,
.color button{
    color: black;
}

#btn-news{
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
}

#btn-news-two{
    background-color: rgba(0, 0, 0, 0.2);
}

#btn-news-two:hover{
    transform: scale(1.1);
    transition: 0.2s;
    background-color: black;
    color: white;
    cursor: pointer;
}

button{
    width: 150px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    border: 0px white solid;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

button:hover{
    transform: scale(1.1);
    transition: 0.2s;
    background-color: white;
    color: black;
    cursor: pointer;
}

#box-group-two{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

#group-two{
    position: relative;
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#img-news-two{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #1e4c9a;
    border-top: 10px solid #1e4c9a;
    border-left: 10px solid #1e4c9a;
    border-right: 10px solid #1e4c9a;
    border-radius: 15px;
}

#globo{
    width: 150px;
    padding: 10px;
}

#text-news-two{
    height: 70%;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 10px 5px rgb(228, 228, 228);
    position: relative;
    box-sizing: border-box;
    border-radius: 15px;
}

.color-text{
    color: black;
}

#box-group-three{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 119, 119);
    z-index: 0;
    overflow: hidden;
}

#group-three{
    position: relative;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#box-three{
    width: 80%;
    height: 80%;
    display: flex;
    position: relative;

    background-image: url(img/gdlk-net.png);
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 15px;
    overflow: hidden;
}

#text-overlaid{
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    bottom: 0px;
}

#group-text{
    margin-top: 15px;
    margin-left: 30px;
    color: white;
}

#group-text div{
    margin-top: 15px;
    margin-bottom: 15px;
}

#group-text div p{
    font-size: 20px;
}

#bold{
    font-weight: bold;
}

#title-trailer{
    width: 500px;
    position: absolute;
    bottom: 230px;
    left: 25px;
    display: flex;
    flex-direction: column;
}

#gdlk-btn{
    margin-top: 2%;
    margin-left: 7%;
    font-size: 15px;
    padding: 10px 10px;
    background-color: rgb(200, 0, 0);
    border-radius: 50px;
}

#title-trailer a button:hover{
    color: white;
    transform: scale(1);
    background-color: rgb(135, 0, 0);
}

span{
    color: darkgray;
    margin-left: 10px;
    margin-right: 10px;
}

#size{
    width: 65%;
}

.subtitle{
    font-size: 80px;
    color: black;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    padding: 10px 20px 15px 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 15px 5px rgb(0, 0, 0, 1);
}

.color{
    color: white;
}

img{
    width: 100%;
}